h1{
    font-family: "Kumar One Outline", sans-serif;
    font-size: 6.8rem;
    line-height: 6.4rem;
    text-transform: uppercase;

    @include respond(phone){
        font-size: 4rem;
    }
}

h2 {
    font-family: "Kumar One", sans-serif;
    font-size: 3.3rem;
    line-height: 5.8rem;
    letter-spacing: 2.1px;
    text-transform: uppercase;

    @include respond(phone){
        font-size: 2.5rem;
    }
}

h3{
    font-family: "Kumar One", sans-serif;
    font-size: 2.2rem;
    line-height: 2.4rem;
    letter-spacing: .12rem;
}

h4{
    font-family: "Kumar One", sans-serif;
    font-size: 2.6rem;
    line-height: 2.4rem;
    letter-spacing: .12rem;
    text-transform: uppercase;
}

p{
    font-family: "Lato Regular", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 3.2rem;
    font-weight: 400;
}

.blog-italic{
    font-style: italic;
}

.blog-bold{
    font-weight: 700;
}

.comment-style{
    text-transform: uppercase;
    font-weight: 700;
}